<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>subcontrols</key>
	<array>
		<string>backgroundImage</string>
		<string>segmentedControl</string>
		<string>gradientShroud</string>
		<string>grid</string>
		<string>topDivider</string>
	</array>
	<key>shelfYPosition</key>
	<integer>302</integer>
	<key>shelfHeight</key>
	<integer>330</integer>
	<key>backgroundImage</key>
	<dict>
		<key>className</key>
		<string>BRImageControl</string>
		<key>boundsHeight</key>
		<integer>720</integer>
		<key>boundsWidth</key>
		<integer>1280</integer>
	</dict>
	<key>gradientShroud</key>
	<dict>
		<key>className</key>
		<string>BRFadeMaskLayer</string>
		<key>boundsHeight</key>
		<integer>140</integer>
		<key>bottomFadeHeight</key>
		<real>0.4</real>
		<key>topFadeHeight</key>
		<integer>0</integer>
		<key>yOrigin</key>
		<integer>540</integer>
		<key>boundsWidth</key>
		<integer>1280</integer>
		<key>enableMaskAnimation</key>
		<true/>
	</dict>
	<key>grid</key>
	<dict>
		<key>className</key>
		<string>ATVMainMenuButtonGrid</string>
		<key>itemHeight</key>
		<integer>139</integer>
		<key>boundsHeight</key>
		<integer>624</integer>
		<key>boundsWidth</key>
		<integer>1280</integer>
		<key>verticalGap</key>
		<integer>19</integer>
		<key>horizontalGap</key>
		<integer>53</integer>
		<key>leftMargin</key>
		<real>0.054</real>
		<key>rightMargin</key>
		<real>0.054</real>
		<key>numberOfColumns</key>
		<integer>5</integer>
		<key>buttonTemplate</key>
		<dict>
			<key>boundsHeight</key>
			<integer>150</integer>
			<key>boundsWidth</key>
			<integer>258</integer>
			<key>yOrigin</key>
			<integer>0</integer>
			<key>titleGap</key>
			<integer>8</integer>
			<key>alwaysShowsTitle</key>
			<false/>
			<key>titleAttributes</key>
			<dict>
				<key>fontSize</key>
				<integer>22</integer>
			</dict>
		</dict>
	</dict>
	<key>topDivider</key>
	<dict>
		<key>className</key>
		<string>BRShimmerControl</string>
		<key>yOrigin</key>
		<integer>858</integer>
		<key>boundsWidth</key>
		<integer>1280</integer>
		<key>boundsHeight</key>
		<integer>1</integer>
	</dict>
	<key>slideAnimation</key>
	<dict>
		<key>duration</key>
		<string>0.25</string>
	</dict>
	<key>segmentedControl</key>
	<dict>
		<key>className</key>
		<string>ATVMainMenuButtonGrid</string>
		<key>yOrigin</key>
		<integer>678</integer>
		<key>boundsWidth</key>
		<integer>1280</integer>
		<key>boundsHeight</key>
		<integer>140</integer>
		<key>horizontalGap</key>
		<integer>36</integer>
		<key>leftMargin</key>
		<real>0.0484</real>
		<key>rightMargin</key>
		<real>0.0484</real>
		<key>itemHeight</key>
		<integer>139</integer>
		<key>numberOfColumns</key>
		<integer>5</integer>
		<key>buttonTemplate</key>
		<dict>
			<key>boundsWidth</key>
			<integer>258</integer>
			<key>yOrigin</key>
			<integer>0</integer>
			<key>titleGap</key>
			<integer>9</integer>
			<key>alwaysShowsTitle</key>
			<true/>
			<key>titleAttributes</key>
			<dict>
				<key>fontSize</key>
				<integer>22</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
